.woocommerce .woocommerce-tabs.wc-tabs-wrapper ul.wc-tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs {
  width: unset;
}
body p a {
  font-weight: 700;
}

.woocommerce span.wc-memberships-member-discount {
  background: #8c1c13;
  display: inline-flex;
  border: 5px solid #8c1c13;
  align-items: center;
  line-height: normal;
  text-transform: none;
  overflow: visible;
  white-space: normal;
  width: 60px;
  height: 60px;
}

.smallmedium_rd_bt {
  font-size: 16px;
  text-align: center;
  min-width: 160px;
  max-width: 100%;
  padding: 15px 20px 16px;
  display: inline-flex;
  vertical-align: top;
  max-height: 100px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.woocommerce div.product .stock,
.woocommerce #content div.product .stock,
.woocommerce-page div.product .stock,
.woocommerce-page #content div.product .stock {
  color: #ff0000;
}

.woocommerce div.product p.stock,
.woocommerce #content div.product p.stock,
.woocommerce-page div.product p.stock,
.woocommerce-page #content div.product p.stock {
  font-size: 1em;
}

/* Added by LarryJudd */
#pp-login-1 > div.pp-form-submit-button-wrap > input {
  top: -5px;
  padding-top: 1em;
  max-width: 376px;
  display: inline-block;
  position: relative !important;
  border-radius: 28px !important;
}
#slider-11-slide-94-layer-8 {
  text-shadow: 1px 3px 6px #333;
}
@media all and (max-width: 412px) {
  .menu_slide.mt_menu.sticky_header{
		top: 71px !important;
  }
  .single .product {
    display: block;
    margin: 0 0 0 0.45em;
    padding-left: 0.4em;
    padding-right: 0.4em;
  }
  #footer {
    max-width: 96vw;
    padding-left: 1em;
  }
  .strong-view .wpmslider-wrapper {
    padding: 0 0 0 0.4em;
  }
}
@media all and (max-width: 767px) {
  .wpb-content-wrapper {
    margin-left: 19px;
  }
  #logo_img .mobile_logo {
    margin-left: 1em;
  }
  .menu_slide.mt_menu.sticky_header {
    padding: 0 5px 0 1px;
  }
  .menu_slide {
    margin-left: -1.2em;
  }
  div#top_bg.menu_slide {
    top: -2.938em;
    overflow: initial;
  }
  #rev_slider_11_1_wrapper {
    padding-top: 3em !important;
    margin-left: -2em !important;
    left: 19px !important;
  }
  #rev_slider_11_1_forcefullwidth {
    margin-left: 32px;
  }
}

@media all and (max-width: 319px) {
	.menu_slide.mt_menu.sticky_header{
		top: 75px !important;
  }
	  #logo_img .mobile_logo {
    margin-left: 0;
  }
}
